/*
$breakpoints:
768px,
1024px;
*/
.cartelera__cine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

/*
@mixin mediaQuery ($pixeles) {
    @media (min-width: $pixeles) {
        @content
    }
}*/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px; }

body {
  background-color: #212120;
  font-size: 2rem; }
  body header {
    width: 100%;
    background-color: #6b181d; }
    body header .logo_cine {
      width: 223px;
      justify-content: center; }
    body header nav ul {
      display: inline-block;
      line-height: 50px;
      align-items: center; }
      body header nav ul li {
        margin: 0 2px; }
        body header nav ul li a {
          display: block;
          margin: 0 10px;
          font-size: 16px;
          border-radius: 7px;
          padding: 10px 10px; }
        body header nav ul li:hover {
          background-color: #0000;
          opacity: .5;
          transition: .2s; }
  body .hover:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 0 auto; }
  body .menupushup {
    background-color: #6b181d; }
  body .offcanvas-body ul li a {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s; }
  body .offcanvas-header {
    background-color: #6b181d; }
  body footer {
    margin-top: 50px;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

h1, h2, h3, a, table {
  font-family: "Be Vietnam Pro", sans-serif;
  color: white; }

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover; }

@media (min-width: 1024px) {
  nav .headerSitio {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); }
    nav .headerSitio ul {
      display: flex;
      flex-direction: row;
      margin: 0 5px; }
      nav .headerSitio ul li a {
        background-color: #6b181d;
        margin-right: 20px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 7px;
        padding: 7px 13px; } }

p {
  color: white; }

@media (min-width: 768px) {
  footer {
    margin-left: 150px;
    margin-right: auto; } }

/*Index*/
.cartelera__cine {
  padding-bottom: 5rem; }

.carteleras:hover, .estrenos__cine:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s; }

@media (min-width: 1024px) {
  .cartelera__cine {
    grid-template-columns: repeat(5, 1fr); } }

.carousel-item > img {
  width: 640px;
  height: 400px;
  position: relative; }
