/*pagina 3*/
.contenedor-tabla {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
}
.dias{
    background-color: rgba(0, 0, 0, .6);
    padding: 15px 15px;
}
.precios {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 15px 15px;
    text-align: justify;
}
@include mediaQuery (iPad, 768px) {
    .contenedor-tabla {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 250px;
    }
}