/*pagina 4*/
.contenedor-campo {
    background-color: map-get($colores, colorsecundario );
    width: Min(100rem, 100%);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 1rem;
    font-family: $fuenteprincipal;
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
@media (min-width: 768px) {
    .contenedor-campo{
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}
.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width: 768px) {
    .campo label {
        flex: 0 0 calc(50% - .5rem);
    }
    .campo  {
        display: flex;
        align-items: center;
    }
}
.contenedor-campo legend {
    text-align: center;
    font-family: $fuenteprincipal;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    padding-left: 70px;
    display: block;
}
.campo {
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.campo label {
    margin-right: 10px;
    color: black;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    display: block;
}
.contenedor-campo__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"],
.campo input[type="number"],
.boton {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
}
.seleccion select{
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    height: 4rem;
    margin-bottom: -1rem;
}
.input {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .7rem;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 3rem;
    font-weight: 700;
    font-family: $fuenteprincipal;
    text-transform: uppercase;
    border: none;
    background-color: #212120;
    color: white;
}
.boton:hover {
    cursor: pointer;
}
.seleccion {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
}
@media (min-width: 1024px) {
    .hover:hover {
        color: white;
        background-color: rgba(0, 0, 0, .2);
        transition: 0.3s;
        border-radius: 10px;
        padding: 0px auto;
    }
    .seleccion {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 5px;
    }
    .seleccion select {
        margin-bottom: 1rem;
    }
}