:root {
    --colorprimario: #212120;
    --colorsecundario: #6b181d;
    --fuenteprincipal: 'Be Vietnam Pro', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: border-box;
} 
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}
body {
    background-color: var(--colorprimario);
    font-size: 2rem;
}
h1, h2, h3, a, table{
    font-family: var(--fuenteprincipal);
    color: white;
}
header {
    width: 100%;
    background-color: var(--colorsecundario);
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 2px;
}
img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
li:hover {
    background-color: #0000;
    opacity: .5;
    transition: .2s;
}
.headerSitio {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navegacion, ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 16px;
}
.logo_cine {
    display: flex;
    width: 250px;
    justify-content: center;
}
@media (min-width: 1024px) {
    .headerSitio {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    }
    .navegacion, ul{
        background-color: var(--colorsecundario);
        display: flex;
        margin-right: 30px;
        flex-direction: row;
    }
    li, .navegacion {
        border-radius: 3px;
        margin: 0 5px;
    }
    .navegacion, a {
        padding: 7px 13px;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }
    .logo_cine {
        width: 50%;
    }
}

p {
    color: white;
}

.cartelera__cine{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-bottom: 5rem;
}
.carteleras:hover, .estrenos__cine:hover {
    cursor: pointer;
    opacity: 0.5;
}
@media (min-width: 1024px) {
    .cartelera__cine{
        grid-template-columns: repeat(5, 1fr);
    }
}
.no-margin {
    margin: 0;
}
.contenedor{ 
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 100px;
    width: min(90%, 120rem);
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    align-items: auto;
    margin-left: 25px;
    grid-gap: 150px;
}
@media (min-width: 768px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        grid-gap: 180px;
        justify-self: center;
        margin-left: 140px;
    }   
    .estrenos__cine {
        max-width: 100%;
        display: block;
        margin-bottom: 2rem;
    }
}
.estrenos__cine {
    width: 100%;
}
.contenedor:last-of-type {
    margin-bottom: 20rem;
}
.pelicula {
    border-bottom: 1px solid var(white);
    margin-bottom: 5rem;
}
.pelicula:last-of-type {
    border: none;
    margin-bottom: 0;
}

footer{
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) {
    footer {
        margin-left: 150px;
        margin-right: auto;
    }
}
.nosotros {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3rem 0;
}
.elCine {
}
p {
    text-align:justify;
}
@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100px;
        grid-template-areas: 
        "a a a a a b b b"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a d d d"
        "a a a a a e e e";
    }
    .cineAlfa {
        grid-area: a;
    }
    .titulo {
        grid-area: b;
    }
    .parrafo1 {
        grid-area: c;
    }
    .ubicacion {
        grid-area: d;
    }
    .parrafo2 {
        grid-area: e;
    }
}
.contenedor-tabla {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}
.dias{
    background-color: rgba(0, 0, 0, .6);
    padding: 15px 15px;
}
.precios {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 15px 15px;
    text-align: justify;
}
@media (min-width: 768px) {
    .contenedor-tabla {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 250px;
    }
}
.contenedor-campo {
    background-color: var(--colorsecundario);
    width: min(60rem, 100%);
    margin: 10px 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 1rem;
    font-family: var(--fuenteprincipal);
}
@media (min-width: 768px) {
    .contenedor-campo{
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}
.campo {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
@media (min-width: 768px) {
    .campo label {
        flex: 0 0 calc(50% - .5rem);
    }
}
.contenedor-campo legend {
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    display: block;
}
.campo {
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.campo label {
    margin-right: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"],
.campo input[type="number"],
.seleccion, .boton {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
}
.input {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .7rem;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-top: .5rem;
    padding: .5rem 3rem;
    font-weight: 700;
    font-family: var(--fuenteprincipal);
    text-transform: uppercase;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
.seleccion {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
