:root {
    --colorprimario: #212120;
    --colorsecundario: #6b181d;
    --fuenteprincipal: 'Be Vietnam Pro', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: border-box;
} 
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}
body {
    background-color: var(--colorprimario);
    font-size: 2rem;
}
h1, h2, h3, a, table{
    font-family: var(--fuenteprincipal);
    color: white;
}
header {
    width: 100%;
    background-color: var(--colorsecundario);
}
nav ul {
    float: right;
}
ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 2px;
}
img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
li:hover {
    background-color: #0000;
    opacity: .5;
    transition: .2s;
}
/*.headerSitio {
    display: flex;
    align-items: center;
    flex-direction: column;
}*/
/*.navegacion, ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 16px;
}
*/
ul li a {
    display: block;
    margin: auto;
    padding: 2rem 2rem;
    font-size: 16px;
}
.logo_cine {
    display: flex;
    width: 180px;
    justify-content: center;
}
@media (min-width:768px) {
    ul li a{
        background-color: var(--colorsecundario);
        display: flex;
        margin-right: 30px;
        font-size: 18px;
        flex-direction: row;
        border-radius: 3px;
        margin: 0 5px;
    }
}
@media (min-width: 1024px) {
    .headerSitio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    }
    ul li a{
        background-color: var(--colorsecundario);
        display: flex;
        margin-right: 20px;
        flex-direction: row;
        padding: 7px 13px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 3px;
        margin: 0 5px;
    }
    .logo_cine {
        width: 50%;
    }
}

p {
    color: white;
}

.cartelera__cine{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-bottom: 5rem;
}
.carteleras:hover, .estrenos__cine:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .cartelera__cine{
        grid-template-columns: repeat(5, 1fr);
    }
}
.contenedor{ 
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 100px;
    display: grid;
    width: min(90%, 110rem);
    grid-template-rows: repeat(1, 1fr);
    align-items: auto;
    margin-left: 25px;
    grid-gap: 170px;
    padding-bottom: 50px;
}
.contenedor img {
    padding-top: 50px;
}
.sinopsis {
    margin-bottom: 20rem;
}
@media (min-width: 768px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: min(90%, 110rem);
        column-gap: 4rem;
        grid-gap: 180px;
        margin-left: 150px;
        padding-bottom: 100px;
    }   
    .contenedor img {
        padding-top: 70px;
    }
    .estrenos__cine {
        max-width: 100%;
        display: block;
        margin-bottom: 2rem;
    }
}
.contenedor:last-of-type {
    margin-bottom: 20rem;
}
.pelicula {
    border-bottom: 1px solid var(white);
    margin-bottom: 5rem;
}
.pelicula:last-of-type {
    border: none;
    margin-bottom: 0;
}

footer{
    margin-top: 50px;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) {
    footer {
        margin-left: 150px;
        margin-right: auto;
    }
}
.nosotros {
    margin: 10px 10px;
}
.parrafo1, .parrafo2 {
    font-family: var(--fuenteprincipal);
    text-align: justify;
}
.sinopsis {
    margin-bottom: 20px;
}
@media (min-width: 1024px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100px;
        grid-template-areas: 
        "a a a a a b b b"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a c c c"
        "a a a a a d d d"
        "a a a a a e e e";
    }
    .nosotrosCine {
        grid-area: a;
    }
    .titulo {
        grid-area: b;
    }
    .parrafo1 {
        grid-area: c;
    }
    .ubicacion {
        grid-area: d;
    }
    .parrafo2 {
        grid-area: e;
    }
}
.contenedor-tabla {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}
.dias{
    background-color: rgba(0, 0, 0, .6);
    padding: 15px 15px;
}
.precios {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 15px 15px;
    text-align: justify;
}
@media (min-width: 768px) {
    .contenedor-tabla {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 250px;
    }
}
.contenedor-campo {
    background-color: var(--colorsecundario);
    width: min(100rem, 100%);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 1rem;
    font-family: var(--fuenteprincipal);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
@media (min-width: 768px) {
    .contenedor-campo{
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}
.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width: 768px) {
    .campo label {
        flex: 0 0 calc(50% - .5rem);
    }
    .campo  {
        display: flex;
        align-items: center;
    }
}
.contenedor-campo legend {
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    padding-left: 70px;
    display: block;
}
.campo {
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.campo label {
    margin-right: 10px;
    color: black;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    display: block;
}
.contenedor-campo__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"],
.campo input[type="number"],
.boton {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
}
.seleccion select{
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    height: 4rem;
    margin-bottom: -1rem;
}

/*.campo input[type="number"]{
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
}*/
.input {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .7rem;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 3rem;
    font-weight: 700;
    font-family: var(--fuenteprincipal);
    text-transform: uppercase;
    border: none;
    background-color: #212120;
    color: white;
}
.boton:hover {
    cursor: pointer;
}
.seleccion {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
}
/*.hover:hover {
        color: white;
        background-color: rgba(0, 0, 0, .3);
        transition: 0.3s;
        border-radius: 15px;
        padding: 20px 20px;
    }
*/
@media (min-width: 1024px) {
    .hover:hover {
        color: white;
        background-color: rgba(0, 0, 0, .2);
        transition: 0.3s;
        border-radius: 10px;
        padding: 0px auto;
    }
    .seleccion {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 5px;
    }
    .seleccion select {
        margin-bottom: 1rem;
    }
}

.menupushup {
        background-color: var(--colorsecundario);
}
.hover:hover {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    transition: 0.3s;
    padding: 0 auto;
}
.offcanvas-body ul li a{
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.offcanvas-header {
    background-color: var(--colorsecundario);
}
.carousel-item > img {
    width: 640px;
    height: 400px;
    position: relative;
}